.badge {
  background-color: tomato;
  /*span은 inline이라서 width랑 height 적용안되므로, 일단 block으로 바꾸자*/
  /*display: block;*/ /*근데 밑에서 display: flex;하면 inline -> block 되므로 삭제*/
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*1을 가운데에 위치하게 하기 위함*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.user-component__info-dot {
  color: tomato;
  border: 2px solid tomato;
  border-radius: 50%;
  display: block;
  width: 13px;
  height: 13px;
  text-align: center;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
}

.badge-dot {
  background-color: tomato;
  border-radius: 50%;
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 20px;
  bottom: 18px;
}

.badge-new {
  color: white;
  background-color: tomato;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
}
