.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  /*reset.css에서 지정해준 a{}의 기본 형식으로는 색상이 검정이 됨. 따라서 색상을 짙은 회색으로 바꿔줌*/
  position: relative;
}

.nav_notification {
  /*메세지 아이콘 위에 숫자1이 오게 하고 싶으면,*/
  position: absolute;
  left: 15px;
  bottom: 10px;
}
