.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px var(--horizantal-space);
  opacity: 90%;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  /*screen-header__icons아래의 모든 span에 적용시켜서, 아이콘 3개가 서로 떨어져 있게 margin을 주자*/
  margin-left: 25px;
}
