.user-component {
  justify-content: space-between;
}

.user-component, /*큰 column 2개를 가진 div */
.user-component__column:first-child {
  /*큰 column 중에 첫번째꺼*/
  display: flex;
  align-items: center;
}

.user-component__img {
  /*사진 크기가 대,중,소로 여러사이즈로 쓰이는 중. 중 사이즈로 만들고 나중에 수정하자*/
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 20px;
}

.user-component__name {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__img--xl {
  width: 70px;
  height: 70px;
}

.user-component__img--sm {
  width: 50px;
  height: 50px;
}

.user-component__name--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px; /*block설정해줘야함*/
  display: block;
}
